*{
    padding: auto;
    margin: auto;    
}

header{
    background-color: black;
    padding: 10px;
    margin: 10px;
    opacity: 0.8;
}

header h1 {
    color: white;
    position: relative;
    left: 20px;
    top:0px;
    line-height: 120px;
}